.card {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  box-shadow: 4px 4px 6px #111113;
  height: max-content;
  break-inside: avoid;
}

.card__Options > .card__OptionsV > .MuiSvgIcon-root {
  color: whitesmoke;
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
  padding: 6px;
}

.card__Options > .card__OptionsV > .MuiSvgIcon-root:hover {
  background-color: #303135;
  border-radius: 50%;
}

.card__Options {
  display: flex;
  width: 100%;
}
.card__OptionsV {
  visibility: hidden;
}
.card__Options:hover > .card__OptionsV {
  visibility: visible;
}
