.card {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  box-shadow: 4px 4px 6px #111113;
  height: max-content;
  break-inside: avoid;
}

.card__Options > .card__OptionsV > .MuiSvgIcon-root {
  color: whitesmoke;
  margin-right: 10px;
  font-size: large;
  cursor: pointer;
  padding: 6px;
}

.card__Options > .card__OptionsV > .MuiSvgIcon-root:hover {
  background-color: #303135;
  border-radius: 50%;
}

.card__Options {
  display: flex;
  width: 100%;
}
.card__OptionsV {
  visibility: hidden;
}
.card__Options:hover > .card__OptionsV {
  visibility: visible;
}

.input1 {
  position: absolute;
  z-index: 1000;
  background-color: #303135;
  padding: 10px;
  border-radius: 10px;
  top: 45%;
  left: 40%;
  z-index: 10;
  border: 0.5px solid whitesmoke;
}

.input__body {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
  backdrop-filter: blur(1px);
}
