.navbar {
  display: flex;
  width: 100%;
  background-color: #202124;
  align-items: center;
  border-bottom: #5f6368;
  /* box-shadow: 2px 5px 8px #31323698;  */
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #6d6f72;
}
.navbar.active {
  box-shadow: 5px 5px 5px #18191a;
  border-bottom: none;
}
.navbar__Left > h2 {
  font-weight: 400;
  cursor: pointer;
}

.navbar__Left > img {
  padding: 0px 10px;
  height: 43px;
  cursor: pointer;
}

.navbar__Left > .MuiSvgIcon-root {
  margin-right: 10px;
  cursor: pointer;
}
.navbar__Right,
.navbar__Left,
.navbar__Center {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  color: #e2e2e3;
}

::placeholder {
  color: #e2e2e3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e2e2e3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e2e2e3;
}

.navbar__Center {
  align-items: center;
  background-color: #525355;
  border-radius: 10px;
  padding: 13px;
  margin-left: 83px;
  width: 46%;
  cursor: pointer;
}
.navbar__Center > input {
  outline-width: 0;
  border: none;
  background-color: transparent;
  font-size: medium;
  font-weight: 400;
}

.navbar__Tabview {
  display: none;
  width: 10%;
  align-items: center;
}

.navbar__Right {
  width: 22%;
  justify-content: center;
  margin-left: 58px;
}

.navbar__Right > .MuiSvgIcon-root {
  margin-right: 20px;
  font-size: x-large;
  cursor: pointer;
}

.navbar__user {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-right: 10px;
}

.navbar__user > .MuiAvatar-root {
  margin: 14px;
  cursor: pointer;
}

.navbar__user > .MuiSvgIcon-root {
  color: #e2e2e3;
  cursor: pointer;
  font-size: x-large;
}
